<footer class="main-footer">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta, efectivo o transferencia bancaria</h2>
                    <p>Te ofrecemos pagar en cuotas sin interés ya sea en tarjeta o efectivo en puntos de pago.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 3.000!</h2>
                    <p>Disfruta de un envio gratuito si tu compra supera los $3.000! Tu cerveza en la puerta de tu casa a la hora que quieras!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2> Seguimso en las redes socialesNo te convence?</h2>
                    <p> Si no te gusto alguna de las cervezas, podes devolverlo / cambiar el producto mientras que el pack siga cerrado!
                    </p>
                </article>
            </div>
        </div>
        <div>
            <article class="footer-data">
                <h2 class="products-title">Cualquier duda que tengas, no dudes en contactarnos: </h2>
                <p >Escribinos al WhatsApp : <a href="tel: +54 911 111435676">+54 911 111435676</a></p>
                <p >Escibinos al Email: <a href="mailto: preguntas@cervelax.com">preguntas@cervelax.com</a></p>
            </article>
        </div>
        
    </div>
</footer>