<footer class="main-footer">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta, efectivo o transferencia bancaria</h2>
                    <p>Te ofrecemos pagar en cuotas sin interés ya sea en tarjeta o efectivo en puntos de pago.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis desde $ 3.000!</h2>
                    <p>Disfruta de un envio gratuito si tu compra supera los $3.000! Tu cerveza en la puerta de tu casa a la hora que quieras!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fab fa-instagram"></i>
                    <h2> Seguinos en las redes sociales</h2> 
                    <p> Postea tu experiencia en las redes y gana una chance de convertirte en nuestro embajador de la marca!
                    </p>
                </article>
            </div>
        </div>
        <div>
            <article class="footer-data">
                <h2 class="products-title">Cualquier duda que tengas, no dudes en contactarnos: </h2>
                <i class="fab fa-whatsapp"></i>  <p >Escribinos al WhatsApp : <a href="tel: +54 911 111435676">+54 911 111435676</a> </p>
                <i class="fa fa-envelope"></i><p >Escibinos al Email: <a href="mailto: preguntas@cervelax.com">preguntas@cervelax.com</a></p> <i class="fas fa-mail-forward"></i>
            </article>
        </div>
        
    </div>
</footer>