 <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/Black_Yellow_and_White__Dessert_Maker_Brand_Cute_and_Illustrated_Logo-removebg-preview.png" />
	
	<title> CERVELAX</title>
	<link rel="icon" type="image/png" href="./images/Black_Yellow_and_White__Dessert_Maker_Brand_Cute_and_Illustrated_Logo-removebg-preview.png">
	<link width="" rel="shortcut icon" href="./images/Black_Yellow_and_White__Dessert_Maker_Brand_Cute_and_Illustrated_Logo-removebg-preview.png" />
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head> 