<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->

		</div>
		<h2>Sign In</h2>
		<h3> Use your account</h3>

		<form action="/" method="GET" class="">
			<label for="usuario" class="form-label">Usuario:</label>
			<input type="text" name="usuario" placeholder="Usuario" class="form-input">

			<label for="contrasenia" class="form-label">Contraseña:</label>
			<input type="password" name="contrasenia" class="form-input">
			<button type="submit" class="">Iniciar sesión</button>
		</form>
	</div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>