<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head') %>

	<body>
		<!-- Header -->
		<%- include('partials/header') %>
		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Sign In</h2>
				</div>
			</div>
			<form method="POST">
				<label for="usuario">Usuario:</label>
				<input type="text" name="usuario" placeholder="Usuario" class="form-input">

				<label for="contrasenia">Contraseña:</label>
				<input type="password" name="contrasenia" placeholder="ingrese su Contraseña" class="form-input">

				<label for="recordarme">Recordarme</label>
				<input type="checkbox" name="recordarme" value="recordarme">

				<button type="submit" class="boton-iniciar-sesion">Iniciar sesión</button>
			</form>
		</div>
		
		<!-- footer -->
		<%- include('partials/footer') %>
		<!-- /footer -->

	</body>

</html>