<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

	<%- include('partials/head') %>

<body>
	<!-- Header -->
  <%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>
			</h2>
      <form method="GET" action="/editar-perfil">
				<label>Email:</label>
				<input type="email" placeholder="ingrese su email" name="email" required  class="form-input"><br>
			  
				<label>Usuario:</label>
				<input type="text"placeholder="ingrese un nombre de usuario" name="usuario" required  class="form-input"><br>
			  
				<label>Contraseña:</label>
				<input type="password" placeholder="ingrese una Contraseña" name="contrasenia" required  class="form-input"><br>
			  
				<label>Fecha de nacimiento:</label>
				<input type="date" placeholder="ingrese su fecha de nacimiento" name="fechadeNac" required  class="form-input"><br>
			  
				<label>Número de documento:</label>
				<input type="number"  placeholder="ingrese su numero de documento" name="numeroDoc" required  class="form-input"><br>
			  
				<label>Foto de perfil:</label>
				<input type="image" placeholder="elija una foto de perfil" name="fotoProfile  class="form-input" required>  <br>
			  
				<button type="submit">Confirmar datos</button>
			  </form>


	<!-- footer -->
  <%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>
