
<!-- NO FUNCIONA!! -->

<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<!-- Incluir head con include-->
<%- include('partials/head') %>

<body>
	<!-- Header -->
  <%- include('partials/headerLogueado') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>

      <form method="GET" action="/agregar-producto">
				<label>Imagen:</label>
				<input type="file" placeholder="imagen del producto" name="img" required class="form-input" ><br>
			  
				<label>Nombre del producto:</label>
				<input type="text" placeholder="ingrese nombre del producto" name="nomProd" required class="form-input" ><br>
			  
				<label>Descripción:</label>
				<textarea placeholder="ingrese una breve descripcion del producto" name="descripcion" required class="form-input" ></textarea><br>
			  
				<label>Fecha de carga:</label>
				<input type="date" placeholder="ingrese la fecha en la que se cargo el producto" name="fechaDeCarga" required class="form-input" ><br>
			  
				<button type="submit">Agregar producto al catálogo</button>
			  </form>
			</h2>


	<!-- footer -->
  <%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>
