<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div>
				<form method="POST">
				  <label>Email:</label>
				  <input type="email" placeholder="ingrese su email" name="email" required  class="form-input"><br>
				
				  <label>Usuario:</label>
				  <input type="text"placeholder="ingrese un nombre de usuario" name="usuario" required  class="form-input"><br>
				
				  <label>Contraseña:</label>
				  <input type="password" placeholder="ingrese una Contraseña" name="contrasenia" required  class="form-input"><br>
				
				  <label>Fecha de nacimiento:</label>
				  <input type="date" placeholder="ingrese su fecha de nacimiento" name="fechaNac" required  class="form-input"><br>
				
				  <label>Número de documento:</label>
				  <input type="number"  placeholder="ingrese su numero de documento" name="numeroDocumento" required  class="form-input"><br>
				
				  <label>Foto de perfil:</label>
				  <input type="text" placeholder="imagen del producto" name="imagen" required class="form-input" ><br>
				
				  <button type="submit">Confirmar datos</button>
			  </form>
			</div>
		</div>
	</div>

	<!-- footer -->
  	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>
