<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="./css/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="./css/app.css">
</head>

<body>
	<!-- Header -->
  <%- include('partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> <i>///////////////////////////////////////// <br> Acá va el formulario de registro. <br>
			Debe cumplir con los puntos de la consigna y ser coherente con la tabla de la base de datos <br>
			Eliminen estás líneas y coloquen el formulario. <br>
			Recuerden todo lo que necesita tanto la etiqueta form como los campos input para operar correctamtente</i> <br>
			////////////////
      <label>Email:</label>
      <input type="email" placeholder="ingrese su email" name="email" required><br>
      
      <label>Usuario:</label>
      <input type="text"placeholder="ingrese un nombre de usuario" name="usuario" required><br>
      
      <label>Contraseña:</label>
      <input type="password" placeholder="ingrese una Contraseña" name="contrasena" required><br>
      
      <label>Fecha de nacimiento:</label>
      <input type="date" placeholder="ingrese su fecha de nacimiento" name="fechaNacimiento" required><br>
      
      <label>Número de documento:</label>
      <input type="number"  placeholder="ingrese su numero de documento" name="nroDocumento" required><br>
      
      <label>Foto de perfil:</label>
      <input type="text" placeholder="elija una foto de perfil" name="fotoPerfil" required><br>
      
      <button type="submit">Confirmar datos y Registrarse</button>
      </form>

			</h2>


	<!-- footer -->
  <%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>

